@font-face {
  font-family: "iconfont"; /* Project id 2672534 */
  src: url('iconfont.woff2?t=1626244186126') format('woff2'),
       url('iconfont.woff?t=1626244186126') format('woff'),
       url('iconfont.ttf?t=1626244186126') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingdanguanli:before {
  content: "\e61e";
}

