@font-face {
  font-family: "iconfont"; /* Project id 2672534 */
  src: url('iconfont.woff2?t=1638772381502') format('woff2'),
       url('iconfont.woff?t=1638772381502') format('woff'),
       url('iconfont.ttf?t=1638772381502') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e631";
}

.icon-piliangshangchuan1:before {
  content: "\e662";
}

.icon-youhuiquan2:before {
  content: "\e630";
}

.icon-youhuiquan1:before {
  content: "\e62f";
}

.icon-youhuiquan:before {
  content: "\e62b";
}

.icon-yundanguanli:before {
  content: "\e62e";
}

.icon-weifukuandingdan:before {
  content: "\e62c";
}

.icon-chanpindingjia:before {
  content: "\e61f";
}

.icon-caiwuguanli:before {
  content: "\e620";
}

.icon-dingdanguanli1:before {
  content: "\e621";
}

.icon-fukuandanliebiao:before {
  content: "\e622";
}

.icon-chanpinguanli:before {
  content: "\e623";
}

.icon-cuxiaohuodong:before {
  content: "\e624";
}

.icon-gongqiliebiao:before {
  content: "\e625";
}

.icon-kehuliushui:before {
  content: "\e626";
}

.icon-piliangshangchuan:before {
  content: "\e627";
}

.icon-gongyiguanli:before {
  content: "\e628";
}

.icon-shouhouguanli:before {
  content: "\e629";
}

.icon-tongjifenxi:before {
  content: "\e62a";
}

.icon-shouhoushenqingliebiao:before {
  content: "\e62d";
}

.icon-dingdanguanli:before {
  content: "\e61e";
}

