@import "@/assets/css/common/var.scss";

.el-loading-spinner {
  .circular {
    width: 30px;
    height: 30px;
  }
}

/* 表格部分公共样式
-------------------------------*/
 .mp-common-table-styles {
    border: none;
    border-top: 1px solid $--border-color-base;
    &.el-table::before {
      display: none;
    }
    .el-table__header-wrapper .el-table__header thead {
      tr {
        th {
          font-size: 14px;
          .cell {
            height: 34px;
            line-height: 34px;
            color: $--color-text-primary;
          }
        }
      }
    }
 }

/* 蓝色标题样式
-------------------------------*/
 .mp-common-title-wrap {
  min-width: 4em;
  line-height: 14px;
  font-size: 14px;
  color: $--color-primary;
  display: inline-block;
  font-weight: 700;
  &::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 14px;
    margin-right: 10px;
    vertical-align: -15%;
    background: linear-gradient(233deg,  $--color-primary-light 0%, $--color-primary 100%);
  }
  &.black {
    color: #444;
  }
  &.f-15 {
    font-size: 15px;
    &::before {
      height: 16px;
    }
  }
 }

 .mp-common-btn-styles {
  width: 120px !important;
  height: 30px !important;
  border-radius: 2px;
  border: none !important;
  background-color: #26BCF9;
  padding: 0;
  font-size: 12px;
  // opacity: 1;
  transition: background-color 0.1s ease-in-out !important;
  &:hover, &:focus {
    // opacity: 0.8;
    background-color: #2196F3;
  }
  &:active {
    background-color: #1a63d1;
    // opacity: 1;
  }
 }
 
/* 蓝色渐变色按钮样式
-------------------------------*/
.blue-full-color-btn-styles {
  border-radius: 2px;
  line-height: 24px !important;
  background: linear-gradient(to right, #26bcf9, #35dff9);
  border: none !important;
  margin: 0 !important;
  width: 120px !important;
  height: 30px !important;
  padding: 0;
}
.linear-bg-color {
  background: linear-gradient(to right, #26bcf9, #35dff9);
}
.out-btn, .mp-search-box-btn {
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
}

.is-blue-button {
  background: linear-gradient(266deg, #36E0F9 0%, #26BCF9 100%);
  border: none !important;
  border-radius: 2px;
  color: #fff;
  &:hover, &:focus {
    background: linear-gradient(266deg, rgba(54, 224, 249, 0.8) 0%, rgba(38, 188, 249, 0.8) 100%);
    border: 1px solid #26BCF9;
    color: #fff;
  }
  &:active {
    opacity: 1;
    background: linear-gradient(266deg, #26BCF9 0%, #428dfa 100%);
    border: 1px solid #428dfa;
    color: #fff;
  }
  &.is-disabled {
    background: #ccc !important;
  }
}

/* 自定义表格文字提示框样式
-------------------------------*/
.mp-common-table-tooltip {
  line-height: 18px;
  max-width: 521px;
}

.hover-line-bottom {
  position: relative;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0%;
    background-color: $--color-primary;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 150ms;
  }
  &:hover{
    color: $--color-blue-1 !important;
    &::after {
      width: 100%;
      background-color: $--color-blue-1;
    }
  }
}

.span-title-blue {
  color: $--color-primary;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 2px;
  font-size: 14px;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
    color: #35dff9;
    background-color: #eee;
  }
  user-select: none;
  transition: 0.15s;
  &.disabled {
    color: #cbcbcb;
    pointer-events: none;
    cursor: default;
  }
}

.span-title-pink {
  color: $--color-pink;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 2px;
  &:hover {
    color:  #ff90ac;;
  }
  &:active {
    color: #e42a2a;
    background-color: #eee;
  }
  user-select: none;
  transition: 0.15s;
  &.disabled {
    color: #cbcbcb;
    pointer-events: none;
    cursor: default;
  }
}


.blue-span {
  color: #26bcf9 !important;
  cursor: pointer;
  user-select: none;
  transition: color 0.05s;
  &:hover {
    color: #35dff9 !important;
  }
  &:active {
    color: #428dfa !important;
  }
  &.disabled, &:disabled {
    color: #cbcbcb !important;
    pointer-events: none;
    cursor: default;
  }
}
.red-span {
  color: #ff3769 !important;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: #f87394 !important;
  }
  &:active {
    color: #ce083a !important;
  }
}

.el-radio__inner {
  background-color: #fff !important;
  &::after {
    background-color: #26bcf9 !important;
    width: 5px;
    height: 5px;
  }
}
.el-radio__input.is-checked + .el-radio__label {
  color: #444;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #444;
}
.ml-15 {
  margin-left: 15px;
}

.new-dialog-styles {
  > .el-dialog {
    > .el-dialog__header {
      background-color: #fff;
      height: 50px;
      box-sizing: border-box;
      margin: 0 10px;
      border-bottom: 1px solid #eee;
      padding-left: 9px;
      .el-dialog__title {
        color: #888E99;
        line-height: 29px;
        font-size: 15px;
        &::before {
          width: 3px;
          background-color: #26bcf9;
          vertical-align: -10%;
          margin-right: 13px;
        }
      }
    }
  }
}

.el-switch {
  .el-switch__core {
    height: 17px;
    width: 38px !important;
    &::after {
      top: 1px;
      height: 13px;
      width: 13px;
    }
  }
  &.is-checked .el-switch__core::after {
    margin-left: -14px;
  }
}

.cancel-blue-btn {
  color: #26bcf9;
  border-color: #26bcf9;
  width: 100px;
  height: 30px;
  padding: 0;
  border-radius: 2px;
  opacity: 1;
  transition: 0.1s ease-in-out;
  &:hover, &:focus {
    color: #428dfa;
    border-color: #428dfa;
    // opacity: 0.85;
    background-color: rgba(66, 141, 249, 0.1);
  }
  &:active {
    opacity: 1;
    color: #2c6ad4;
    border-color: #2c6ad4;
    background-color: rgba(66, 141, 249, 0.3);
  }
}

// 仿客户端tips样式
.mp-common-tip-span-btn-popper-box {
  background-color: rgb(117, 117, 117) !important;
  border-radius: 2px;
  padding: 8px 12px !important;
  transition: none;
}
#nprogress .bar {
  background: #26bcf9 !important; //自定义颜色
  background: linear-gradient(266deg, #36E0F9 0%, #26BCF9 100%) !important;
}

.el-dialog__wrapper {
  background-color: rgba(0, 0, 0, 0.45);
}


.mp-erp-table-column-show-setup-wrap {
  border-radius: 2px;
  width: 360px;
  &.el-notification.right {
    right: 0;
  }
  .content-box {
    > main {
      padding: 6px 0 12px 0;
      > .el-checkbox-group {
        > .el-checkbox {
          width: 118px;
          overflow: hidden;
          > .el-checkbox__label {
            font-size: 13px;
            color: #444;
          }
        }
      }
    }
    > footer {
      > .el-button {
        height: 28px;
        padding: 0;
        font-size: 12px;
        width: 100px;
        padding-bottom: 1px;
        border-radius: 2px;
      }
      > span {
        margin-left: 25px;
        font-size: 12px;
      }
      > p {
        font-size: 12px;
        padding-top: 12px;
        > span {
          display: block;
          // margin-right: 12px;
        }
      }
      padding-bottom: 10px;
    }
    
  }
}

.tips-box {
  width:550px;
  background: #FFFBF6;
  border-radius: 3px;
  height: 28px;
  color:rgba(244,163,7, 0.8);
  font-size:12px;
  padding-left:16px;
  line-height: 26px;
  box-sizing: border-box;
  i {
    font-size: 15px;
    position: relative;
    top: 1px;
    margin-right: 10px;
  }
  &.is-pink {
    background: rgb(255, 248, 250);
    color: #ff3769dc !important;
  }
}

button.goback {
  width: 120px;
  height: 35px;
  border: 1px solid #26BCF9;
  border-radius: 3px;
  padding: 0;
  color: #26BCF9;
}

button.border-blue-btn {
  border: 1px solid #26BCF9;
  border-radius: 3px;
  color: #26BCF9;
}

.el-radio-group.mp-common-tab-radio-box {
  > label {
    .el-radio-button__inner {
      padding: 9px 34px;
      color: #585858;
      font-size: 14px;
      border-color: #e5e5e5;
    }
    &.is-active {
      position: relative;
      .el-radio-button__inner{
        color: #fff;
        border-color: #26bcf9;
        &::before {
          content: '';
          position: absolute;
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background-color: #fff;
          left: 21px;
          transition: 0.2s ease-in-out;
          top: calc(50% - 1px);
        }
      }
    }
  }
}

.common-property-condition-text-tips-box {
  line-height: 24px;
  color: #585858;
  .name {
    color: #33BBD5;
  }
  .val {
    color: #888;
    font-weight: 700;
  }
  .type {
    font-weight: 700;
    margin-right: 1px;
  }
  .if-box {
    font-weight: 700;
  }
}

.common-property-condition-text-content-box {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  > p {
    flex: 1 0 auto;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    > span {
      color: #444;
      &:last-of-type {
        color: #888;
        font-weight: 700;
      }
      &.type {
        color: #33BBD5;
      }
    }
    &.if-box {
      margin-right: 10px;
      > span {
        margin-right: 5px;
        font-weight: 400;
      }
    }
  }
}
.el-tooltip__popper {
  max-height: 60vh;
  overflow: overlay;
  box-sizing: border-box;
  display: block;
  height: auto;
  line-height: 18px;
  .popper__arrow {
    display: none;
  }
}

.el-menu-item .iconfont {
  margin-right: 8px;
  width: 22px;
  text-align: left;
}


.mp-mini-checkbox {
  .el-checkbox__label {
    font-size: 12px;
  }
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
    position: relative;
    top: 0.5px;
    &::after {
      top: 0;
      left: 3px;
      height: 6px;
      width: 3px;
    }
  }
}

.el-form-item__error {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}