@font-face {
  font-family: "iconfont"; /* Project id 2672534 */
  src: url('//at.alicdn.com/t/font_2672534_kttp43u8v5h.woff2?t=1642820984740') format('woff2'),
       url('//at.alicdn.com/t/font_2672534_kttp43u8v5h.woff?t=1642820984740') format('woff'),
       url('//at.alicdn.com/t/font_2672534_kttp43u8v5h.ttf?t=1642820984740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shengchanteshuqingkuang_2:before {
  content: "\e644";
}

.icon-yunshuteshuqingkuang_1:before {
  content: "\e645";
}

.icon-yindouguanli:before {
  content: "\e642";
}

.icon-xiaofeifanxian:before {
  content: "\e643";
}

.icon-gangweiguanli_1:before {
  content: "\e63f";
}

.icon-jiagecelve:before {
  content: "\e63d";
}

.icon-kehuguanli:before {
  content: "\e63e";
}

.icon-kehushezhi:before {
  content: "\e640";
}

.icon-xiaoshouquyu:before {
  content: "\e641";
}

.icon-yuangongguanli:before {
  content: "\e63b";
}

.icon-bumenguanli_2:before {
  content: "\e639";
}

.icon-gongqiguanli_1:before {
  content: "\e63a";
}

.icon-fahuobanci:before {
  content: "\e632";
}

.icon-paijianshijian:before {
  content: "\e633";
}

.icon-shengchangongqi:before {
  content: "\e634";
}

.icon-jiejiariguanli:before {
  content: "\e635";
}

.icon-teshuqingkuangguanli:before {
  content: "\e636";
}

.icon-fukuanshijian_2:before {
  content: "\e637";
}

.icon-shangchuan:before {
  content: "\e631";
}

.icon-piliangshangchuan1:before {
  content: "\e662";
}

.icon-youhuiquan2:before {
  content: "\e630";
}

.icon-youhuiquan1:before {
  content: "\e62f";
}

.icon-youhuiquan:before {
  content: "\e62b";
}

.icon-yundanguanli:before {
  content: "\e62e";
}

.icon-weifukuandingdan:before {
  content: "\e62c";
}

.icon-chanpindingjia:before {
  content: "\e61f";
}

.icon-caiwuguanli:before {
  content: "\e620";
}

.icon-dingdanguanli1:before {
  content: "\e621";
}

.icon-fukuandanliebiao:before {
  content: "\e622";
}

.icon-chanpinguanli:before {
  content: "\e623";
}

.icon-cuxiaohuodong:before {
  content: "\e624";
}

.icon-kehuliushui:before {
  content: "\e626";
}

.icon-piliangshangchuan:before {
  content: "\e627";
}

.icon-gongyiguanli:before {
  content: "\e628";
}

.icon-shouhouguanli:before {
  content: "\e629";
}

.icon-tongjifenxi:before {
  content: "\e62a";
}

.icon-shouhoushenqingliebiao:before {
  content: "\e62d";
}

.icon-dingdanguanli:before {
  content: "\e61e";
}
