@import "@/assets/css/common/var.scss";
.mp-time-serach-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .mp-time-select-box {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    margin-top: 2px;
    .text {
      display: inline-block;
      line-height: 28px;
      font-size: 14px;
      text-align: right;
      font-weight: 600;
      color: $--color-text-table;
      width: 5em;
    }
    > ul {
      margin-left: 10px;
      font-size: 14px;
      user-select: none;
      > li {
        display: inline-block;
        padding: 0 20px;
        border: 1px solid #333;
        box-sizing: border-box;
        height: 28px;
        line-height: 26px;
        border: 1px solid $--border-color-base;
        border-right-color: transparent;
        background-color: $--bg-color-base;
        // vertical-align: 10%;
        color: #444;
        cursor: pointer;
        &.is-selected {
          border-right: 1px solid $--border-color-base;
          color: $--color-primary;
          border-color: $--color-primary !important;
          background-color: $--color-white;
        }
        &.by-time {
          vertical-align: top;
          padding: 0;
          border-right: 1px solid $--border-color-base;
          span.el-popover__reference {
            display: inline-block;
            padding: 0 20px;
          }
          i {
            position: relative;
            top: 2px;
            margin-left: 5px;
          }
          .date-img{
            vertical-align: 5%;
            margin-left: -3px;
          }
        }
      }
      > li:hover{
        background-color: $--color-text-table-hover;
      }
    }
  }
  .mp-order-search-box {
    padding-top: 2px;
    text-align: right;
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 110px;
    @media screen and (max-width: 1600px) {
      padding-right: 30px;
    }
    > span:first-of-type {
      font-weight: 600;
      display: inline-block;
      margin-right: 10px;
      user-select: none;
    }
    input {
      height: 28px;
      line-height: 28px;
      width: 130px;
      padding: 0 0 0 3px;
      border: 1px solid $--border-color-base;
      &::placeholder {
        font-size: 12px;
        color: $--color-text-secondary;
      }
      box-sizing: border-box;
      outline: none;
    }
    button {
      border: none;
      height: 28px;
      line-height: 28px;
      width: 70px;
      outline: none;
      font-size: 20px;
      font-weight: 600;
      vertical-align: middle;
      color: #fff;
      user-select: none;
      cursor: pointer;
      // border-radius: $--border-radius-small;
      border-top-right-radius: $--border-radius-small;
      border-bottom-right-radius: $--border-radius-small;
      background-color: $--color-primary;
      &:hover {
        background-color: $--color-text-btn-hover;
      }
      &:active {
        background-color: $--color-primary-light;
      }
    }
    > .order-header-reset-btn {
      user-select: none;
      margin-left: 20px;
      font-size: 12px;
      width: auto;
      font-weight: 400;
      background-color: $--color-white;
      line-height: 28px;
      box-sizing: border-box;
      padding: 0 10px;
      border-radius: $--border-radius-small;
      &:hover {
        background-color: $--color-white;
        // color: $--color-white;
        // transform: scale(1.1);
        box-shadow: 0 0px 1px 1px rgba(38, 188, 249, 0.2);
      }
      &:active {
        color: mix($--color-white, $--color-primary, 10%);
        background-color: rgba(168, 168, 168, 0.1);
      }
      color: $--color-primary;
      border: 1px solid $--color-primary;
      height: 28px;
      cursor: pointer;
    }
  }
}
.order-time-select {
  width: 420px;
  height: 170px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  .select-block-wrap{
    display: flex;
    justify-content: space-around;
    div.block{
      width: 180px;
      > div{
        margin-top: 10px;
        width: 100%;
        > input{
          &:focus{
            border-color: $--color-primary;
          }
        }
      }
      > span{
        text-align: left;
        display: inline-block;
      }
    }
    .totext-box{
      box-sizing: border-box;
      font-size: 12px;
      margin: 40px 5px 0;
      color: $--color-text-table-time;
    }
  }
  .select-btn-wrap{
    text-align: center;
    > button {
      margin: 0 auto;
      margin-top: 13px;
    }
  }

}
.el-date-table {
  td.today span,td.available:hover{
    color: $--color-primary !important;
  }
  td.current:not(.disabled) span{
    background-color: $--color-primary !important;
  }
}